@font-face {
    font-family: 'ABC Diatype Variable';
    src: url("fonts/ABCDiatypeVariable.ttf") format("truetype");
}
@font-face {
    font-family: 'ABC Diatype Mono Variable';
    src: url("fonts/ABCDiatypeMonoVariable.ttf") format("truetype");
}
body {
    margin:0;
    background:#f7f5ef;
    font-family: 'ABC Diatype Variable';
    font-size:14px;
}
* {
    transition: all .1s;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
::selection {
    color: white;
    background: #162CB9;
}
h1,h2 {
    font-size:68px;
    font-weight:800;
    line-height:90%;
    letter-spacing: -2px;
    margin:0
}
h1 {
    font-size:100px
}
h3 {
    width:calc(50vw - 100px);
    max-width:800px;
    font-weight:400;
    font-size:26px;
    margin:30px 0;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.hide {
    display: none;
}
a {
    color:#162CB9;
    text-decoration: none;
}
.button {
    display: inline-block;
    text-align: center;
    height:48px;
    line-height:46px;
    padding:0 22px;
    background-color:white;
    border:1px solid #162CB9;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
    font-size:14px;
    transition: all .1s, margin 400ms;
    cursor: pointer;
    min-width:48px;
    width:fit-content
}
.button:after {
    display: block;
    position: absolute;
    content: " ";
    top:0px;
    left:0px;
    width:100%;
    height:calc(100% - 4px);
    border-radius: 8px;
    box-shadow: 0 4px rgba(22, 44, 185, 0.2);
    transition: height .1s;
}
.button:hover {
    box-shadow: inset 0 -56px rgba(22, 44, 185, 0.05);
}
.button:active {
    line-height:48px;
    box-shadow: inset 0 -56px rgba(22, 44, 185, 0.1);
}
.button:active:after {
    height:calc(100% - 2px);
}
.button.ghost {
    background-color:transparent;
    border:0;
    padding:0 16px;
    letter-spacing: 0;
    font-size:15px;
    overflow: visible;
}
.button.ghost:after {
    border:0;
    box-shadow: none;
}
.button.blue {
    background: #2E42C0;
    color:white;
    border: 1px solid #162CB9;
    box-shadow: inset 0 -4px 0 0 #162CB9;
    border-radius: 8px;
}
.button.blue:hover {
    filter:brightness(110%)
}
.button.blue:active {
    box-shadow: inset 0 -2px rgba(22, 44, 185, 0.1);
}
.button.big {
    padding: 0 36px;
    font-size: 16px;
    height: 56px;
    line-height: 53px;
}
.button.big:active {
    line-height:55px;
}
.button.icon {
    height: 32px;
    width: 32px;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
    border-radius: 100%;
    padding-left: 2px;
    margin-right:6px;
}
label {
    font-size: 10px;
    letter-spacing: 0.5px;
    font-weight:500;
}
.border {
    border: 1px solid rgba(22, 44, 185, 0.2);
}
.header {
    position: fixed;
    z-index:3;
    -webkit-backdrop-filter:blur(8px);
    backdrop-filter: blur(8px);
    background: rgba(255,255,255,0.5);
    box-shadow: inset 1px 1px 1px white;
    top:16px;
    width:calc(100% - 32px);
    max-width:1300px;
    left:0;
    right:0;
    margin:auto;
    border-radius: 16px;
    padding: 8px;
    overflow-x: clip;
}
.logo {
    width:160px;
    margin-left:8px;
}
.menu .button.current {
    color: rgba(22, 44, 185, 0.6);
}
.menu .button:not(.ghost) {
    margin-left:8px
}
.menu .button.blue {
    width:160px;
}
.menu .button.hide {
    margin-right:-168px;
    opacity:0;
}
.hamburger {
    background-image:url('assets/hamburger.svg');
    background-repeat:no-repeat;
    background-position: 50% 50%;
    display: none;
}
.drop-menu {
    width:calc(100% - 32px);
    position: fixed;
    left:0;
    right:0;
    margin:auto;
    z-index: 3;
    top:96px;
    background:white;
    border-radius: 16px;
    overflow: hidden;
    animation-name:drop-menu;
    animation-duration: 500ms;
}
@keyframes drop-menu {
    0% { transform: translateY(-10px)}
}
.drop-menu .button {
    display: block;
    text-align: left;
    border-radius: 0;
    border-bottom:1px solid rgba(22, 44, 185, 0.1);
}
.tooltip {
    position: absolute;
    background: white;
    border: 1px solid #162CB9;
    display: flex;
    top: 44px;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 96px;
    border-radius: 4px;
    left:-13px;
    animation-name:tooltip;
    animation-fill-mode: both;
    animation-delay: 1s;
    animation-duration: 1s;
    transform-origin: 0% 50%;
}
.tooltip:after {
    content: " ";
    position: absolute;
    background:white;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    border-top: 1px solid #162CB9;
    border-right: 1px solid #162CB9;
    top: -5px;
}
@keyframes tooltip {
    0% { transform:translateY(-16px) rotate(8deg); opacity:0}
    25% { transform:translateY(8px) rotate(-4deg); opacity:1}
    50% { transform:translateY(-4px) rotate(2deg)}
    75% { transform:translateY(2px) rotate(-1deg)}
}
section {
    height:100vh;
    max-height:800px;
    padding:160px 64px;
    position: relative;
    max-width:1400px;
    margin:0 auto;
}
.shapes-container {
    position: fixed;
    max-width:1400px;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    right:0;
    margin:auto
}
.shapes {
    width: 700px;
    height: 700px;
    z-index: -1;
    opacity: 0.9;
    overflow: hidden;
    position: absolute;
    right:-50px;
}
.shapes video {
    width:200%;
    transition: none;
    transition: filter .5s;
}
video[shape=a] {
    margin:0;
}
video[shape=b]  {
    margin-left:-100%;
}
video[shape=c]  {
    margin-left:-100%;
    margin-top:-100%;
}
video[shape=d]  {
    margin-top:-100%;
}
video[shape=e]  {
    margin-top:-100%;
    filter:blur(10px)
}
.visual {
    position: fixed;
    max-width:1400px;
    top: 0;
    right:64px;
    left:0;
    margin:auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    transition: opacity .6s;
    z-index: 0;
    pointer-events: none;
    transform: matrix(1, 0.10, 0, 1, 0, 0);
}
.visual[focus=true]  {
    opacity:1
}
.visual img.main {
    width:512px
}
.visual.cards {
    flex-direction: row;
}
.visual .card {
    position: absolute;
    top:50%;
    display: flex;
    width:fit-content;
    padding:12px 16px;
    border-radius:8px;
    background: rgba(255,255,255,0.5);
    margin:8px;
    box-shadow: inset 1px 1px 1px white;
    backdrop-filter: blur(8px);
    font-size:14px;
    white-space: nowrap;
    animation-name:card;
    animation-duration:6s;
    animation-fill-mode: both;
    transition:0;
    animation-timing-function: ease-in;
    z-index:-1
}
@keyframes card {
    0% { transform: translateX(600px); opacity:0; }
    10% { opacity:1; }
    90% { opacity:1}
    100% { transform: translateX(100px); opacity:0;}
}
.card .checkmark {
    border-right:1px solid #162CB9;
    border-bottom:1px solid #162CB9;
    width:6px;
    height:12px;
    transform:rotate(45deg);
    margin-right:8px;
    margin-top:2px;
    animation-name:checkmark;
    animation-duration: 0.3s;
}
@keyframes checkmark {
    0% { width:0; height:0; margin:0; margin-top:6px;}
    100% { width:6px; height:12px; margin-right:8px; margin-top:2px;}
}
.blur {
    backdrop-filter: blur(8px);
    border-radius: 8px;
    position: absolute;
    z-index: -1;
}
[section=b] .blur {
    width: 420px;
    height: 238px;
    margin-top: 132px;
}
[section=d] .blur {
    width: 95px;
    height: 32px;
    margin-left: -217px;
    margin-top: -260px;
}
[section=e] {
    background:white;
    border-radius: 100px 100px 0 0;
    box-shadow: 0 0 200px 0 rgba(0,0,0,0.1);
}
.arrow {
    margin-right:16px;
    margin-top:16px;
    opacity:0.5;
    cursor:pointer;
}
.arrow.left { 
    transform:rotate(90deg)
}
.arrow.right { 
    transform:rotate(-90deg)
}
.arrow:hover {
    opacity:1
}
section.footer {
    background:#162CB9;
    border-radius: 100px 100px 0 0;
    margin-top:-100px;
    color:white;
}


@media screen and (max-width: 1100px) {
    .mobile-hide { display: none;}
    .mobile-show { display: block;}
    .menu a { display: none;}
    .menu .button.login { display: inline-block; margin-right:6px}
    .hamburger { display: block;}
}