@font-face {
    font-family: 'ABC Diatype Variable';
    src: url("fonts/ABCDiatypeVariable.ttf") format("truetype");
}
@font-face {
    font-family: 'ABC Diatype Mono Variable';
    src: url("fonts/ABCDiatypeMonoVariable.ttf") format("truetype");
}
body {
    margin:0;
    background:#f7f5ef;
    font-family: 'ABC Diatype Variable';
    font-size:14px;
    color:rgba(0,0,0,0.8);
    margin-top:63px;
}
* {
    transition: all .1s;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
::selection {
    color: white;
    background: #162CB9;
}
h1,h2,h3 {
    font-weight:900;
    line-height:90%;
    letter-spacing: -2px;
    margin:0;
    color:black
}
h1 {
    font-size:84px;
}
h2 {
    font-size:74px;
}
h3 {
    font-size:56px;
    letter-spacing: -1px;
}
p {
    max-width: 600px;
    line-height: 150%;
    margin:4px 0;
}
p.subtitle {
    margin: 32px 0;
    font-size:22px;
}
p.subtitle.narrow {
    margin:0
}
.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.hide {
    display: none;
}
a {
    color:#162CB9;
    text-decoration: none;
}
a.link {
    padding-left:16px;
    background-image:url('assets/icon-link-arrow.svg');
    background-repeat: no-repeat;
    background-position: 0px 5px;
}
a.link:hover {
    opacity:0.8
}
.button {
    display: inline-block;
    text-align: center;
    height:48px;
    line-height:46px;
    font-weight:500;
    padding:0 22px;
    background-color:white;
    border:1px solid rgba(22, 44, 185, 0.3);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
    font-size:14px;
    transition: all .1s, margin 400ms;
    cursor: pointer;
    width:fit-content;
}
.button:after {
    display: block;
    position: absolute;
    content: " ";
    top:0px;
    left:0px;
    width:100%;
    height:calc(100% - 4px);
    border-radius: 7px;
    box-shadow: 0 4px rgba(22, 44, 185, 0.2);
    transition: height .1s;
}
.button:hover {
    box-shadow: inset 0 -56px rgba(22, 44, 185, 0.05);
}
.button:active {
    line-height:48px;
    box-shadow: inset 0 -56px rgba(22, 44, 185, 0.1);
}
.button:active:after {
    height:calc(100% - 2px);
}
.button.ghost {
    background-color:transparent;
    border:0;
    padding:0 16px;
    letter-spacing: 0;
    font-size:15px;
    overflow: visible;
    font-weight:400;
}
.button.ghost:after {
    border:0;
    box-shadow: none;
}
.button.blue {
    background: #2E42C0;
    color:white;
    border: 1px solid #162CB9;
    box-shadow: inset 0 -4px 0 0 #162CB9;
    border-radius: 8px;
}
.button.blue:hover {
    filter:brightness(110%)
}
.button.blue:active {
    box-shadow: inset 0 -2px rgba(22, 44, 185, 0.1);
}
.button.big {
    padding: 0 36px;
    font-size: 16px;
    height: 56px;
    line-height: 53px;
}
.button.big:active {
    line-height:55px;
}
.button.icon {
    height: 32px;
    width: 32px;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
    border-radius: 100%;
    padding-left: 2px;
    margin-right:6px;
}
label {
    font-size: 10px;
    letter-spacing: 0.5px;
    font-weight:500;
}
label.fill {
    padding:3px 6px 2px;
    border-radius: 4px;
    background:rgba(0,0,0,0.1);
    position: relative;
    top:-2px;
}
.grey {
    color:rgba(0,0,0,0.5)
}
.border-top {
    border-top: 1px solid rgba(22, 44, 185, 0.1);
}
.border-right {
    border-right: 1px solid rgba(22, 44, 185, 0.1);
}
.border-bottom {
    border-bottom: 1px solid rgba(22, 44, 185, 0.1);
}
.border-left {
    border-left: 1px solid rgba(22, 44, 185, 0.1);
}
.wrap {
    max-width:1500px;
    margin:0 auto;
}
.header {
    height:64px;
    align-items: center;
    position: fixed;
    width:100%;
    max-width:1500px;
    top:0;
    left:0;
    right:0;
    margin:auto;
    z-index: 3;
    background:#f7f5ef;
}
.header .button {
    margin-right:8px;
}
.header .logo {
    position: absolute;
    left:0;
    right:0;
    top:0;
    margin:auto;
}
.menu .ghost {
    color:black
}
.menu .button.blue {
    width:160px;
}
.menu .button.hide {
    margin-right:-168px;
    opacity:0;
}
.hamburger {
    background-image:url('assets/hamburger.svg');
    background-repeat:no-repeat;
    background-position: 50% 50%;
    width:48px;
    margin-left:8px;
}
.drop-menu {
    width:calc(100% - 32px);
    position: fixed;
    left:0;
    right:0;
    margin:auto;
    z-index: 3;
    top:96px;
    background:white;
    border-radius: 16px;
    overflow: hidden;
    animation-name:drop-menu;
    animation-duration: 500ms;
}
@keyframes drop-menu {
    0% { transform: translateY(-10px)}
}
.drop-menu .button {
    display: block;
    text-align: left;
    border-radius: 0;
    border-bottom:1px solid rgba(22, 44, 185, 0.1);
}
.tooltip {
    position: absolute;
    background: white;
    border: 1px solid rgba(22, 44, 185, 0.3);
    display: flex;
    top: 44px;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 96px;
    border-radius: 4px;
    left:-13px;
    animation-name:tooltip;
    animation-fill-mode: both;
    animation-delay: 1s;
    animation-duration: 1s;
    transform-origin: 0% 50%;
}
.tooltip:after {
    content: " ";
    position: absolute;
    background:white;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    border-top: 1px solid rgba(22, 44, 185, 0.3);
    border-right: 1px solid rgba(22, 44, 185, 0.3);
    top: -5px;
}
@keyframes tooltip {
    0% { transform:translateY(-16px) rotate(8deg); opacity:0}
    25% { transform:translateY(8px) rotate(-4deg); opacity:1}
    50% { transform:translateY(-4px) rotate(2deg)}
    75% { transform:translateY(2px) rotate(-1deg)}
}
section {
    padding:128px 48px;
    position: relative;
}
section .left > * {
    opacity:0;
    transform: translateY(40px);
    transition-timing-function: cubic-bezier(0,0,0,1);
}
section.narrow {
    height:auto;
    padding:32px 48px;
}
section.minimal p.subtitle {
    margin-bottom:0;
}
section.no-padding {
    padding:0
}
section .right {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:512px;
    flex-shrink: 0;
}
.shadow {
    opacity: 0.05;
    background-image: linear-gradient(180deg, rgba(247,245,239,0.00) 0%, #F7F5EF 100%), linear-gradient(270deg, rgba(0,0,0,0.00) 0%, #000000 50%, rgba(0,0,0,0.00) 100%);
    position: absolute;
    height:120px;
    width: 100%;
    top: 0;
    pointer-events: none;
}
.shadow.big {
    height:100%;
    background-image: linear-gradient(0deg, rgba(247,245,239,0.00) 0%, #F7F5EF 100%), linear-gradient(270deg, rgba(0,0,0,0.00) 0%, #000000 50%, rgba(0,0,0,0.00) 100%);
}
.visual {
    position: relative;
    height:512px;
    overflow: hidden;
}
video {
    width:100%;
}
video.shapes {
    width:200%;
}
video[shape=a] {

}
.glass {
    background: rgba(255,255,255,0.5);
    border:1px solid rgba(22, 44, 185, 0.1);
    backdrop-filter: blur(8px);
}
.card {
    position: absolute;
    top:50%;
    display: flex;
    width:fit-content;
    padding:12px 16px 11px;
    border-radius:8px;
    margin:8px;
    font-size:14px;
    white-space: nowrap;
    animation-name:card;
    animation-duration:6s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}
@keyframes card {
    0% { transform: translateX(250px); opacity:0; }
    10% { opacity:1; }
    90% { opacity:1}
    100% { transform: translateX(0); opacity:0;}
}
.card.done {
    color:rgba(0,0,0,0.6)
}
.card .bullet {
    width:20px;
    height:20px;
    border:1px solid #162CB9;
    border-radius:100%;
    position: relative;
    left:-3px;
    margin-right:4px;
    top:-1px;
}
.card.done .bullet {
    background:#162CB9;
    animation-name:bounce;
    animation-duration: 500ms;
}
@keyframes bounce {
    0% { transform:scale(1) }
    10% { transform:scale(0.8) }
    50% { transform:scale(1.1) }
    100% { transform:scale(1) }
}
.card.done .bullet:after {
    position:absolute;
    content:" ";
    display: block;
    border-right:1px solid white;
    border-bottom:1px solid white;
    width:3px;
    height:7px;
    transform:rotate(45deg);
    left:7px;
    top:4px;
}
.stat {
    width:33.33%;
    padding:48px;
    height:240px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
.stat:hover {
    background:rgba(255,255,255,0.2)
}
.stat h3 {
    background: -webkit-linear-gradient(#000, rgba(0,0,0,0.2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: left;
    transition: transform 300ms;
}
.stat:hover h3 {
    transform:scale(1.1)
}
.stat h3.blue {
    background: -webkit-linear-gradient(#162CB9, rgba(22, 44, 185, 0.3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.checklist {
    margin-bottom:20px;
}
.checklist div {
    margin-bottom:8px;
}
.checklist div:before {
    content:" ";
    display: inline-block;
    border-right:1px solid black;
    border-bottom:1px solid black;
    width:3px;
    height:7px;
    transform:rotate(45deg);
    margin-right:10px;
    margin-left:6px;
}
section.black {
    background:rgba(0,0,0,0.95);
    color:white;
    border-radius:64px;
    padding:100px;
    overflow: hidden;
    position: relative;
    margin:50px 0;
    height:680px;
}
section.black h3 {
    color:white;
    line-height:110%;
    position: relative;
    z-index: 2;
}
.testimonials {
    margin-top:60px;
}
.testimonials .item {
    padding:24px;
    border-radius: 8px;
    width:32%;
    transition: all 500ms;
}
.testimonials .item:hover {
    transform:translateY(-8px)
}
.person {
    justify-content: left;
    margin-bottom:16px;
}
.avatar {
    width:48px;
    height:48px;
    background:rgba(0,0,0,0.1);
    border-radius:100%;
    margin-right:8px;
}
.item p.subtitle {
    margin:0
}
.arrows {
    justify-content: space-around;
    width:fit-content;
    margin:0 auto;
    margin-top:20px;
}
.arrow {
    width:32px;
}
.arrow {
    margin-right:16px;
    margin-top:16px;
    opacity:0.5;
    cursor:pointer;
}
.arrow.prev { 
    transform:rotate(90deg)
}
.arrow.next { 
    transform:rotate(-90deg)
}
.arrow:hover {
    opacity:1
}
section .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:1px;
    background:rgba(22, 44, 185, 0.1);
}
.grid .block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:#f7f5ef;
    padding:0 16px;
    height:100%;
    padding:64px 32px;
    position: relative;
}
.grid .block img {
    width:80px;
    transition: all 500ms;
}
.grid .block p {
    max-width:260px
}
.grid .block * {
    position: relative;
}
.grid .block:before {
    content:" ";
    position: absolute;
    width:100%;
    height:100%;
    z-index: 0;
    background:rgba(255,255,255,0.4);
    opacity:0;
    transition: opacity 500ms;
}
.grid .block:hover:before {
    opacity:1
}
.grid .block img:nth-child(2) {
    position:absolute;
    left:0;
}
.grid .block:hover img:nth-child(1) {
    transform: translateY(4px);
    filter:blur(2px);
}
.grid .block:hover img:nth-child(2) {
    transform: translateY(-8px);
}
section.footer {
    background:#162CB9;
    border-radius:64px 64px 0 0;
    color:white
}
section.footer a {
    color:white;
    margin-left:16px;
}

@media screen and (max-width: 1100px) {
    .mobile-hide { display: none;}
    .mobile-show { display: block;}
    .menu a { display: none;}
    .menu .button.login { display: inline-block; margin-right:6px}
    .hamburger { display: block;}
}